# Environments
.env
.env*.local
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.ruff_cache/


# Media and temporary output
storage/
output/
temp/
test/
clips/
*.mp4
*.avi
*.ogg
*.wav
*.ass
*.srt
!docs/media/*

# Model weights
*.pth
*.model
*.onnx

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Internal / Meta
hackathon.md
